.sm-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    padding-left: 60px;
    background: #2D2D2D;
}
.h-content {
    padding: 0 10px;
    line-height: 50px;
    color: #ffffff;
}