.sm-sider {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    background: #262626;
}
.sm-sider-container {
    padding-top: 50px;
}
.menu-item {
    position: relative;
    height: 50px;
    color: #ADADAD;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    transition: all .3s;
}
.menu-item:hover {
    background: #2A2D2E;
}

.menu-item.selected {
    color: #FFFFFF;
}

.menu-item:focus {
    outline: none;
}

.menu-item-text {
    position: absolute;
    top: 0;
    left: -100%;
    height: 50px;
    width: 110px;
    background: #262626;
    text-align: left;
    transition: all .3s;
    padding-left: 10px;
    z-index: 0;
}

.menu-item:hover .menu-item-text {
    left: 100%;
    background: #2A2D2E;
}
.menu-item .menu-item-text span {
    opacity: 0;
    transition: all .4s;
}
.menu-item:hover .menu-item-text span {
    opacity: 1;
}

.icon-con {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #262626;
}

.menu-item:hover .icon-con {
    background: #2A2D2E;
}

.personal-center {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    transition: all .3s;
}
.personal-center:hover {
    cursor: pointer;
    color: #ADADAD;
}

.logo {
    position: absolute;
    top: 10px;
    left: 8px;
    width: 70%;
    text-align: center;
}

.logo img {
    width: 100%;
    margin: auto;
}